<div class="container-fluid">
  <div class="row p-4 justify-content-center">
    <%= form_with model: @idea_request, url: public_idea_requests_path do |f| %>
      <div class="field">
      <%= f.label :title, "タイトル(※必須)" %>
      <%= f.text_field :title, rows: 10, class: "form-control" %>
      </div>
      <div class="field">
      <%= f.label :telephone_number, "電話番号(※必須)" %>
      <%= f.text_field :telephone_number, rows: 10, class: "form-control" %>
      </div>
      <div class="field">
      <%= f.label :email, "メールアドレス(※必須)" %>
      <%= f.text_field :email, rows: 10, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :content %>
        <%= f.rich_text_area :content, class: "form-control" %>
      </div>
      <%= f.submit "投稿", class: "btn btn-success mb-5" %>
    <% end %>
  </div>
</div>