<div class="container-fluid">
  <div class="row pt-4 justify-content-center">
    <h2>検索結果</h2>
  </div>
  <div class="row pt-4 justify-content-center">
    <div class="col-10">
      <table class="table table-hover table-inverse">
        <!--検索対象モデルがUserの時 -->
        <% if @range == "User" %>
          <thead>
            <tr>
              <th class="col-1"></th>
              <th class="col-2">ユーザー名</th>
              <th class="col-4">紹介</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                  <th><%= image_tag user.get_profile_image, class: 'rounded-circle', size: '40x40' %></th>
                  <th>
                    <%= link_to admin_user_path(user.id), class: 'text-dark' do %>
                      <%= user.name %>
                    <% end %>
                  </th>
                  <th><%= user.introduction %></th>
              </tr>
            <% end %>
          </tbody>
        <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがpost_ideaの時) -->
          <thead>
            <tr>
              <th class="col-2">タイトル名</th>
              <th class="col-4">投稿内容</th>
              <th class="col-2">投稿日</th>
              <th class="col-2">いいね数</th>
              <th class="col-2">ユーザー名</th>
            </tr>
          </thead>
          <tbody>
            <% @post_ideas.each do |post_idea| %>
              <% if post_idea.status == "published" %>
                <tr>
                  <th>
                    <%= link_to admin_post_idea_path(post_idea.id), class: 'text-dark' do %>
                      <%= post_idea.title %>
                    <% end %>
                  </th>
                  <th><%= post_idea.free_body.truncate(25) %></th>
                  <th><%= post_idea.created_at.strftime('%Y/%m/%d') %></th>
                  <th>♡<%= post_idea.favorites.count %>いいね</th>
                  <th>
                    <%= link_to admin_user_path(post_idea.user.id), class: 'text-dark' do %>
                      <%= post_idea.user.name %>
                    <% end %>
                  </th>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>