<div class="container-fluid">
  <div class="row pt-4 justify-content-center">
    <h3>カテゴリー作成</h3>
  </div>
  <div class="row pt-4 justify-content-center">
<!--カテゴリー作成フォーム-->
    <%= form_with model: @category, url: admin_category_index_path do |f| %>
      <%= f.label :category_name, "カテゴリー名" %>
      <%= f.text_field :category_name %>
      <%= f.label :kana, "kana" %>
      <%= f.text_field :kana %>
      <%= f.submit "保存" %>
    <% end %>
  </div>
  <div  class="row p-4 justify-content-center">
    <h3>一覧</h3>
  </div>
<!--カテゴリー一覧表示-->
  <div  class="row p-4  justify-content-center">
    <div class="col-8">
      <table class="table">
        <thead>
          <tr>
            <th class="col-3">カテゴリー名</th>
            <th class="col-2">投稿数</th>
            <th class="col-1">削除</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <th scope="row"><%= category.category_name %></th>
              <th scope="row"><%= category.post_ideas.count %></th>
              <th scope="row"><%= link_to "削除", admin_category_path(category.id), method: :delete, "data-confirm" => "本当に消しますか？" %> </th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>