<table class="table">
  <thead>
    <tr>
      <th class="col-lg-1 col-mg-1 col-sm-1 col-xs-1">ID</th>
      <th class="col-lg-2 col-mg-2 col-sm-2 col-xs-2">投稿ユーザー名</th>
      <th class="col-lg-1 col-mg-1 col-sm-1 col-xs-1">金額</th>
      <th class="col-lg-2 col-mg-2 col-sm-2 col-xs-2">投稿タイトル</th>
      <th class="col-lg-2 col-mg-2 col-sm-2 col-xs-2">購入ユーザー</th>
      <th class="col-lg-1 col-mg-1 col-sm-1 col-xs-1">購入日時</th>
    </tr>
  </thead>
  <tbody>
    <% @post_ideas.each do |purchase| %>
      <tr>
        <th scope="row"><%= purchase.id %></th>
        <th scope="row"><%= purchase.post_idea.user.name %></th>
        <th scope="row"><%= purchase.post_idea.price %></th>
        <th scope="row"><%= link_to purchase.post_idea.title, admin_post_idea_path(purchase.post_idea.id) %></th>
        <th scope="row"><%= purchase.user.name %></th>
        <th scope="row"><%= purchase.created_at.strftime('%Y/%m/%d') %></th>
      </tr>
    <% end %>
  </tbody>
</table>