<div class="container">
  <% if @post_idea.errors.any? %>  
    <div class="row justify-content-center">
      <%= @post_idea.errors.count %>件のエラーが発生しました
    </div>
    <div class="row justify-content-center">
      <ul>
        <% @post_idea.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row justify-content-center">
    <h3>投稿編集</h3>
  </div>
  <div class="row justify-content-center">
    <%= form_with model: @post_idea, url: public_post_idea_path(@post_idea.id), method: :patch do |f| %>
    
      <%= f.file_field :post_image, accept: "image/*" %>
      <%= f.label :category_name, "ジャンル" %>
      <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :category_name) %>
      <div class="form-group">
        <%= f.label :title, "タイトル" %><br>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :free_body, "投稿内容" %><br>
        <%= f.text_area :free_body, rows: 10, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :price, "金額" %><br>
        <%= f.text_field :price, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :paid_body, "有料投稿内容" %><br>
        <%= f.text_area :paid_body, rows: 10, class: "form-control" %>
      </div>
      <div class="justify-content-center ">
        <%= f.submit "編集", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>
