<% if @user == current_user %>
  <%= render 'public/users/show_navi' %>
<% end %>
<div class="container-fluid">
  <div class="row">
  <!-- side menu -->
    <div class= "col-lg-3 ">
      <%= render 'public/users/user_information', user: @user %>
    </div>
    <!-- main menu -->
    <div class= "col-lg-9 d-flex flex-wrap main-container">
      <% @post_ideas.each do |post_idea| %>
        <% if post_idea.status != "published" && post_idea.user != current_user %>
          
        <% elsif post_idea.status != "published" && post_idea.user == current_user %>
          <div class="card m-3" style="width: 15rem;">
            <%= link_to public_post_idea_path(post_idea.id) do %>    
              <%= image_tag post_idea.get_post_idea_image, size: '240x200'%>
              <div class="card-body">
                <h4>運営より非公開に設定されました</h4>
              </div>
            <% end %>
          </div>
        <% else post_idea.status == "published" %>
          <div class="card m-3" style="width: 15rem;">
            <%= link_to public_post_idea_path(post_idea.id) do %>    
              <%= image_tag post_idea.get_post_idea_image, size: '240x200'%>
              <div class="card-body">
                <%= content_tag :h5, post_idea.title, class: 'card-title' %>
                <%= post_idea.free_body.truncate(20) %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>    
</div>